<div class="jumbotron" style="background-image: url('http://www.elovecentral.com/wp-content/uploads/2013/10/First-Date-Ideas-For-College-Students-1.jpeg'); min-height: 530px; background-size: cover;">
<div class = "home">
    <h1 style = "color: white; margin-left: 200px;">Become A Better <br> Bachelor</h1>
    <h3 style = "color: white; margin-left: 200px; margin-top: 80px;">Critical Coaching for the Modern Man</h3>
    <a class="btn btn-success btn-lg" role="button" style = "font-size: 50px; margin-left: 200px; margin-top: 30px;"> Learn More </a>

  </div>
</div>