<div class="jumbotron" style="background-image: url('http://www.elovecentral.com/wp-content/uploads/2013/10/First-Date-Ideas-For-College-Students-1.jpeg'); min-height: 530px; background-size: cover;">
<div class = "home">
    <h1 style = "color: white; margin-left: 90px;">Become A Better <br> Bachelor</h1>
    <p style = "color: white; margin-left: 150px;"><div class="glyphicon glyphicon-ok">Real dating practice </div>     Real honest feedback      Real Results</p>

    <a class="btn btn-success btn-lg" role="button" style = "font-size: 50px;"> Yes <br> I Want Better Dates </a>
     <a class="btn btn-danger btn-lg" role="button" style = "font-size: 50px;"> No <br>I'll Live in the Dark</a>
  </div>
</div>